/* Students:
 * =========
 * Add styling to your d3 chart with this file. */

 #chart{
     width:1200px;
     height:800px;
 }

.active {
    font-weight: bold;
    fill: #000;
    fill: #551aaf;
    transition: fill 0.3s ease-out;
    text-anchor: middle;
  }
  
  .inactive {
    font-weight: lighter;
    fill: #551aaf;
    transition: fill 0.3s ease-out;
    text-anchor: middle;
  }
  
  .inactive:hover {
    fill: #e75480;
    cursor: pointer;
  }

  .tooltip {
    position: absolute;
    width: auto;
    height: auto;
    padding: 10px;
    font: 12px sans-serif;
    text-align: center;
    color: white;
    background:Grey;
    border: 0;
    border-radius: 10px;
  }

  .circleText{
    color: black;
  }
  
